.box{
    opacity: 0.5;
    font-size:20px;
    height:400px;
    width:600px;
    border:2px blue;
    padding:20px;
    margin:20px;
    margin: top 50px;
    margin-left: 500px;
    border-radius: 40px;
    background-color:aquamarine;
    font-color:white;
} 
body { 
    background-image: url("../img/contact.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: #cccccc;
}